@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Padauk&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../images/jupibg.jpg');
    background-size: 100% 100%, cover;
    background-position: top center, center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu {
    overflow: hidden;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.title {
    color: #7DF9FF;
    font-size: bold;
    letter-spacing: 10px;
    font-family: 'Orbitron';
    font-weight: 500;
}

.nav-links {
    list-style: none;
    align-items: baseline;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    font: 14px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.1s ease-in-out;
}

.nav-links li a:hover {
    color: #c9374c;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 20px;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background: #333;
        position: absolute;
        top: 70px;
        right: 0;
    }

    .nav-links.show {
        display: flex;
    }
}


@media (min-width: 769px) {
    .menu-button {
        display: none;
    }

    .nav-links {
        display: flex;
    }
}

.about1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 80px;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.content .image {
    position: relative;
    width: 800px;
    height: 800px;
    margin-left: 10px;
}

.content .image img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 20px;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.t {
    z-index: 222;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(20px);
    max-width: 700px;
    padding: 20px;
    border: 1px rgba(225, 225, 225, 0.1);
    border-radius: 10px;
    transform: translate(-350px, 10px);
    letter-spacing: 10px;
    line-height: 30px;
    font-family: 'Arial';
}

.t-text {
    font-size: 4em;
    font-family: 'Segoe UI';
    letter-spacing: 5px;
    margin-right: 10px;
}

.nickname {
    font-size: 0.3em; 
    font-style: italic; 
}

.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #04040c;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
}

.image2 {
    width: 400px;
    overflow: hidden;
    margin-left: auto;
    border-radius: 10px;
}

.info-container {
    background-color: #496c99;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    width: 500px;
    max-width: 600px;
}

.info {
    font-size: 1.4em;
    list-style: none;
    padding: 0;
}

.info table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.info tr {
    border-bottom: 1px solid #fff;
}

.info td {
    padding: 10px;
    text-align: left;
}

.info td:first-child {
    font-weight: bold;
    width: 40%;
}

.sun {
    height: 130px;
    width: 130px;
    background-image: url('../images/sun.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.jupiter-outline {
    border-radius: 50%;
    border: 1px dotted #fff;
    width: 100px; 
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.jupiter {
    height: 60px;
    width: 60px;
    background-image: url('../images/jupiter.jpg');
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    transform-origin: 0 0;
    box-shadow: -4px 2px 56px #808080;
    left: 46%;
    top: 46%;
    transform: translate(-50%, -50%);
    animation: orbit2 60s linear infinite;
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg) translateX(300px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(300px) rotate(-360deg);
    }
}

.jupiter-outline {
    height: 600px;
    width: 600px;
}

@media (max-width: 768px) {
    .about2 {
        flex-direction: column;
        text-align: center; 
    }

    .image2 {
        width: 80%; 
    }

    .info-container {
        width: 80%; 
        max-width: 100%; 
        margin: 20px auto; 
    }

    .info ul {
        margin-left: 0;
    }

    .jupiter-outline {
        width: 80px; 
        height: 80px; 
    }

    .jupiter {
        height: 16px;
        width: 16px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .sun {
        height: 80px;
        width: 80px;
    }
}

.planets {
    background-color: #04040c;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.celestial-body {
    text-align: center;
    margin: 10px;
}

.celestial-body img {
    max-width: 100px;
    height: auto;
}

.image-guide {
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
}

